.faq-box {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  overflow: hidden;
  font-size: var(--text-size-sm);
}

.faq-box-question {
  position: relative;
  width: 100%;
  padding: .5rem .5rem .5rem 4rem;
  color: var(--color-white);
  background-color: var(--color-tertiary);
  border: none;
  text-align: left;
  font-size: var(--font-size-base);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
  overflow: hidden;
}
.faq-box-question::before {
  content: 'Q';
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 140%;
  transform: scale(1.2);
  background-color: var(--color-white);
  color: var(--color-tertiary);
  font-size: var(--font-size-small);
  font-weight: bold;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.faq-box-question:hover {
  background-color: var(--color-primary);
}

.faq-box-icon {
  font-size: 1.5rem;
  color: var(--color-accent);
  font-weight: normal;
}

.faq-box-answer {
  padding: 0 1rem;
  color: var(--color-tertiary);
  line-height: 1.6;
  font-size: var(--font-size-small);
  height: 0;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box; /* パディングを含めた高さ計算 */
}

