.cta-button {
  position: relative;
  padding: 1rem 4.5rem;
  font-size: var(--text-size-xl);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  overflow: hidden;
}
.cta-button-icon {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cta-calendar-icon {
  position: absolute;
  right: 1rem;
}

.cta-button--primary {
  background: linear-gradient(to bottom, var(--color-accent), #C9C04F);
  color: var(--color-white);
  text-shadow: 0 2px 6px #7b7318;
}

.cta-button--primary:hover {
  opacity: 0.9;
  transform: scale(0.95);
}

.cta-button--secondary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.cta-button--secondary:hover {
  background-color: var(--color-primary);
  transform: scale(1.05);
}

