.needs-box {
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0;
}

.needs-box-problem {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: .5rem 1rem;
  border-radius: 2rem;
  max-width: 80%;
  align-self: flex-start;
  margin-bottom: -1rem;
  margin-left: -.5rem;
  position: relative;
  z-index: 2;
}

.needs-box-problem::before {
  content: '';
  position: absolute;
  bottom: -.9rem;
  left: 10%;
  width: 1rem;
  height: 1rem;
  background-image: url('/hukidashi.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.needs-box.reverse .needs-box-problem {
  align-self: flex-end;
  margin-right: -.5rem;
}

.needs-box.reverse .needs-box-problem::before {
  left: auto;
  right: 10%;
  transform: scale(-1, 1);
}

.needs-box-image {
  position: relative;
  z-index: 1;
}

.needs-box-solution {
  max-width: 70%;
  align-self: flex-end;
  margin-top: -1rem;
  margin-right: -1rem;
  position: relative;
  z-index: 2;
}

.needs-box.reverse .needs-box-solution {
  align-self: flex-start;
  margin-left: -1rem;
}

.needs-box-problem-text {
  font-size: var(--text-size-sm);
}
.needs-box-solution-text {
  position: relative;
  padding: 1rem;
  z-index: 10;
  background-color: var(--color-white);
  color: var(--color-thirdry);
  font-weight: bold;
  font-size: var(--text-size-sm);
}
.needs-box-problem-text,
.needs-box-solution-text {
  line-height: 1.4;
  display: inline-block;
}

.needs-box-solution-text::before  {
  content: '';
  position: absolute;
  top: -8px;
  right: 2px;
  width: 16px;
  aspect-ratio: 41/50;
  background-image: url('/slash.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.needs-box-image {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: var(--color-white);
  border: 3px solid var(--color-thirdry);
}

.needs-box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

