.needs {
  padding-top: 4rem;
  background-color: var(--color-secondary);
}

.needs-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

.needs-title {
  margin-bottom: 4rem;
}
.needs-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

