.customer-voice-box {
  background-color: var(--color-white);
  border: 2px solid var(--color-accent);
  display: flex;
  flex-direction: column;
  position: relative;
}
.customer-voice-box::before,
.customer-voice-box::after {
  content: '';
  position: absolute;
  top: 0;
  transform: translateY(-72%);
  left: 1rem;
  width: 2rem;
  aspect-ratio: 6 / 5;
  background-image: url('/quotation.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.customer-voice-box::after {
  right: 1rem;
  left: auto;
  top: auto;
  bottom: 0;
  transform: translateY(72%) scale(-1, -1);
}

.customer-voice-box-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.customer-voice-box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customer-voice-box-content {
  color: var(--color-thirdry);
  font-size: var(--text-size-sm);
  line-height: 1.6;
  margin: 0;
  padding: 1rem;
  position: relative;
}
.customer-voice-box-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translateY(-80%);
  width: 10%;
  aspect-ratio: 91 / 43;
  background-image: url('/cat-silhouette-s.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
