.life-image-title-text {
  font-size: var(--text-size-xl);
  text-align: center;
  position: relative;
  background-color: var(--color-accent);
  padding: .75rem;
}

.life-image-title-text span {
  position: absolute;
  font-size: .75rem;
  background-color: var(--color-white);
  display: inline-block;
  padding: 0 .5rem;
  border: 1px solid var(--color-accent);
  border-radius: 3rem;
}
.life-image-title-text span.sub-top {
  top: 0;
  left: -.5rem;
  /* transformはGSAPで管理 */
}
.life-image-title-text span.sub-bottom {
  bottom: 0rem;
  right: -.5rem;
  /* transformはGSAPで管理 */
}